<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>trivia cracked</title>
    <meta name="description" content="Multiplayer space invaders" />
    <link
      id="favicon"
      rel="icon"
      href="https://johnwu-trivia-bucket.s3.ca-central-1.amazonaws.com/pinkgorilla.png"
      type="image/x-icon"
    />
    <!-- link to stylesheet -->
    <link rel="stylesheet" href="resources/css/style.css">
    <!-- link to the script -->
    <script src="resources/js/index-script.js" defer></script>
  </head>
  <body class="index-body">
    <h1>Trivia Cracked</h1>
    <div class="game-div" id="gameContainer"></div>
  </body>
</html>